<template>
    <div class="m-8">
        <div class="flex">
            <h1 class="text-xl">Pages</h1>
        </div>
        <div class="flex mt-4 justify-between">
            <div class="flex">
                <button @click="count = 'All'" class=""><span class="text-blue-600 text-sm hover:text-black"
                        :class="count == 'All' ? 'text-black' : ''">All</span> <span
                        class="text-gray-500">(1)</span></button>
                <hr class="rotate-90 -ml-3 p-3 mt-3" />
                <button @click="count = 'Draft'"><span class="text-blue-600 text-sm ml-3 hover:text-black"
                        :class="count == 'Draft' ? 'text-black' : ''">Draft</span> <span
                        class="text-gray-500">(3)</span></button>
            </div>
            <div class="relative flex hidden md:block">
                <input type="search" placeholder="Enter your search here..." class="border p-2 rounded w-[250px]" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4 absolute right-2 mt-4 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </div>
        </div>

        <div class="overflow-x-auto relative mt-4">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 ">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Title
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Author
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            Apple MacBook Pro 17"
                        </th>
                        <td class="py-4 px-6">
                            Sliver
                        </td>
                        <td class="py-4 px-6">
                            $2999
                        </td>
                    </tr>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            Microsoft Surface Pro
                        </th>
                        <td class="py-4 px-6">
                            White
                        </td>
                        <td class="py-4 px-6">
                            $1999
                        </td>
                    </tr>
                    <tr class="bg-white ">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            Magic Mouse 2
                        </th>
                        <td class="py-4 px-6">
                            Black
                        </td>
                        <td class="py-4 px-6">
                            $99
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>
<script setup>
import { ref } from 'vue'
definePageMeta({
    layout: "admin",
});
const count = ref('All');
</script>
