<template>
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-2">
        <div class="m-4">
            <article class="relative">
                <NuxtLink href="#">
                    <section>
                        <h2 class="text-3xl hover:text-red-700 text-white font-medium absolute bottom-10 px-2 z-1">FTX
                            founder Sam Bankman-Fried
                            arrested in Bahamas</h2>
                        <picture>
                            <source media="(min-width:650px)" srcset="https://picsum.photos/700/380?random=1">
                            <source media="(min-width:465px)" srcset="https://picsum.photos/700/380?random=1">
                            <img src="https://picsum.photos/700/380?random=1" alt="banner" style="width:100%;">
                        </picture>
                    </section>

                    <aside>
                        <a href="/categories/#"
                            class="text-white absolute bottom-2 px-2 underline underline-offset-4 z-1 hover:text-red-700">Business</a>
                    </aside>
                    <div class="overlay"></div>
                </NuxtLink>
            </article>
        </div>
        <div class="hidden lg:block m-4">
            <div class="grid grid-rows-2 grid-flow-col gap-4">
                <div>
                    <article class="relative">
                        <NuxtLink href="#">
                            <section>
                                <h3
                                    class="text-lg hover:text-red-700 text-white font-medium absolute bottom-8 px-2 z-1">
                                    FTX
                                    founder Sam
                                    Bankman-Fried arrested in Bahamas</h3>
                                <picture>
                                    <source media="(min-width:650px)" srcset="https://picsum.photos/600/320?random=2">
                                    <source media="(min-width:465px)" srcset="https://picsum.photos/600/320?random=2">
                                    <img src="https://picsum.photos/600/320?random=2" class="rounded" alt="banner"
                                        style="width:100%;">
                                </picture>
                            </section>
                            <aside>
                                <a href="/categories/#"
                                    class="text-sm hover:text-red-700 text-white absolute bottom-2 px-2 underline underline-offset-4 z-1">Business</a>
                            </aside>
                            <div class="overlay"></div>
                        </NuxtLink>
                    </article>
                </div>
                <div>
                    <article class="relative">
                        <NuxtLink href="#">
                            <section>
                                <h3
                                    class="text-lg hover:text-red-700 text-white font-medium absolute bottom-8 px-2 z-1">
                                    FTX
                                    founder Sam
                                    Bankman-Fried arrested in Bahamas</h3>
                                <picture>
                                    <source media="(min-width:650px)" srcset="https://picsum.photos/600/320?random=3">
                                    <source media="(min-width:465px)" srcset="https://picsum.photos/600/320?random=3">
                                    <img src="https://picsum.photos/600/320?random=3" class="rounded" alt="banner"
                                        style="width:100%;">
                                </picture>
                            </section>
                            <aside>
                                <a href="/categories/#"
                                    class="text-sm hover:text-red-700 text-white absolute bottom-2 px-2 underline underline-offset-4 z-1">Business</a>
                            </aside>
                            <div class="overlay"></div>
                        </NuxtLink>
                    </article>
                </div>
                <div>
                    <article class="relative">
                        <NuxtLink href="#">
                            <section>
                                <h3
                                    class="text-lg hover:text-red-700 text-white font-medium absolute bottom-8 px-2 z-1">
                                    FTX
                                    founder Sam
                                    Bankman-Fried arrested in Bahamas</h3>
                                <picture>
                                    <source media="(min-width:650px)" srcset="https://picsum.photos/600/320?random=4">
                                    <source media="(min-width:465px)" srcset="https://picsum.photos/600/320?random=4">
                                    <img src="https://picsum.photos/600/320?random=4" class="rounded" alt="banner"
                                        style="width:100%;">
                                </picture>
                            </section>
                            <aside>
                                <a href="/categories/#"
                                    class="text-sm hover:text-red-700 text-white absolute bottom-2 px-2 underline underline-offset-4 z-1">Business</a>
                            </aside>
                            <div class="overlay"></div>
                        </NuxtLink>
                    </article>
                </div>
                <div>
                    <article class="relative">
                        <NuxtLink href="#">
                            <section>
                                <h3
                                    class="text-lg hover:text-red-700 text-white font-medium absolute bottom-8 px-2 z-1">
                                    FTX
                                    founder Sam
                                    Bankman-Fried arrested in Bahamas</h3>
                                <picture>
                                    <source media="(min-width:650px)" srcset="https://picsum.photos/600/320?random=5">
                                    <source media="(min-width:465px)" srcset="https://picsum.photos/600/320?random=5">
                                    <img src="https://picsum.photos/600/320?random=5" class="rounded" alt="banner"
                                        style="width:100%;">
                                </picture>
                            </section>
                            <aside>
                                <a href="/categories/#"
                                    class="text-sm hover:text-red-700 text-white absolute bottom-2 px-2 underline underline-offset-4 z-1">Business</a>
                            </aside>
                            <div class="overlay"></div>
                        </NuxtLink>
                    </article>
                </div>
            </div>
        </div>
    </div>
</template>