<template>
    <div class="mt-12">
        <h2 class="font-bold text-xl">Features</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <article v-for="n in 6" :key="n">
                <NuxtLink href="#" class="hover:text-red-700">
                    <section>
                        <picture>
                            <source media="(min-width:650px)" :srcset="`https://picsum.photos/700/380?random=${n * 6}`">
                            <source media="(min-width:465px)" :srcset="`https://picsum.photos/700/380?random=${n * 6}`">
                            <img :src="`https://picsum.photos/700/380?random=${n * 6}`" alt="banner" class="mt-4"
                                style="width:100%;">
                        </picture>
                        <h2 class="mt-2 text-sm">
                            US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US
                            history" on Tuesday.
                        </h2>
                    </section>
                </NuxtLink>
            </article>
        </div>
    </div>
</template>