<template>
    <footer class="mt-12 bg-gray-100">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
                <div class="p-4">
                    <h3 class="text-xl font-bold mt-4">Search</h3>
                    <div class="relative flex">
                        <input type="search" placeholder="Enter your search here..."
                            class="border p-2 rounded mt-4 w-full" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 absolute right-2 mt-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </div>
                    <h3 class="text-xl font-bold mt-4">Newsletter subscribe</h3>
                    <p class="text-small text-gray-500 pt-4">Never miss our news. If you subscribe, you agreed our
                        <NuxtLink href="#" class="underline underline-offset-4 hover:text-red-700">terms</NuxtLink> and
                        <NuxtLink href="#" class="underline underline-offset-4 hover:text-red-700">privacy.</NuxtLink>
                    </p>
                    <div class="relative flex">
                        <input type="email" placeholder="Enter your email here..."
                            class="border p-2 rounded mt-4 w-full" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 absolute right-2 mt-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                </div>
                <div class="p-4">
                    <ul class="mt-4">
                        <NuxtLink href="/">
                            <li class="text-medium text-gray-500 p-3 border-b hover:text-red-700 relative">All
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-2 -mt-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/business">
                            <li class="text-medium text-gray-500 p-3 border-b hover:text-red-700 relative">Business
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-2 -mt-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/sicence">
                            <li class="text-medium text-gray-500 p-3 border-b hover:text-red-700 relative">Sicence
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-2 -mt-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/sport">
                            <li class="text-medium text-gray-500 p-3 border-b hover:text-red-700 relative">Sport
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-2 -mt-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/culture">
                            <li class="text-medium text-gray-500 p-3 border-b hover:text-red-700 relative">Culutre
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute right-2 -mt-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </li>
                        </NuxtLink>
                    </ul>
                </div>
                <div class="p-4">
                    <h3 class="text-xl font-bold mt-4">Social</h3>
                    <div class="mt-4 flex">
                        <div class="pt-4">
                            <NuxtLink href="https://www.facebook.com" target="_blank">
                                <svg class="text-gray-700" style="width:62px;height:62px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
                                </svg>
                            </NuxtLink>
                        </div>
                        <div class="pt-4 px-4">
                            <NuxtLink href="https://www.twitter.com" target="_blank">
                                <svg class="text-gray-700" style="width:62px;height:62px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                                </svg>
                            </NuxtLink>
                        </div>
                    </div>
                    <!-- <h3 class="text-xl font-bold mt-4">Join our site</h3>
                    <div class="flex mt-4">
                        <div class="mt-4">
                            <NuxtLink href="#" class="border p-3 rounded ">
                                Login
                            </NuxtLink>
                        </div>
                        <div class="px-4 mt-4">
                            <NuxtLink href="#" class="p-3 rounded bg-red-700 text-white ">
                                Register
                            </NuxtLink>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <br />
    </footer>
</template>