<template>
    <div class="pt-4">
        <article class="relative">
            <NuxtLink href="#">
                <section>
                    <h2
                        class="text-3xl text-white font-medium absolute bottom-10 md:bottom-20 px-2 z-1 hover:text-red-700">
                        FTX founder Sam Bankman-Fried
                        arrested in Bahamas</h2>
                    <p class="p-2 hidden md:block text-white absolute bottom-10 z-1">
                        US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US history"
                        on Tuesday.
                    </p>
                    <picture>
                        <source media="(min-width:650px)" :srcset="`https://picsum.photos/700/380?random=`">
                        <source media="(min-width:465px)" :srcset="`https://picsum.photos/700/380?random=`">
                        <img :src="`https://picsum.photos/700/380?random=`" alt="banner" style="width:100%;"
                            class="max-h-96 object-cover">
                    </picture>
                </section>
                <aside>
                    <a href="#"
                        class="text-white hover:text-red-700 absolute bottom-2 px-2 underline underline-offset-4 z-1">Business</a>
                </aside>
                <div class="overlay"></div>
            </NuxtLink>
        </article>
    </div>
</template>