<template>
    <header class="container mx-auto flex justify-between m-5">
        <NuxtLink href="/" class="p-4">Myanmar Broadcasting Channel</NuxtLink>
        <nav class="flex">
            <a href="/about" class="p-4 font-bold hover:text-red-700">About</a>
            <div class="p-4">
                <NuxtLink href="/search">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 hover:text-red-700">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </NuxtLink>
            </div>
        </nav>
    </header>
</template>