<template>
    <div class="flex justify-center mt-4">
            <ul class="flex">
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 bg-red-700 text-white">1</li>
                </NuxtLink>
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 text-red-700">2</li>
                </NuxtLink>
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 text-red-700">3</li>
                </NuxtLink>
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 text-red-700">4</li>
                </NuxtLink>
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 text-red-700">5</li>
                </NuxtLink>
                <NuxtLink href="#">
                    <li class="m-2 pl-4 pt-3 w-11 h-12 border border-red-700 text-red-700">6</li>
                </NuxtLink>
            </ul>
        </div>
</template>