<template>
    <div class="hidden md:block sticky top-0 bg-white z-2 shadow-sm p-1">
        <div class="container mx-auto">
            <div class="flex justify-between p-8">
                <NuxtLink href="/" class="px-4 font-extrabold cursor-pointer hover:text-red-500" :class="$route.path == '/' ? 'text-red-500' : 'text-gray-300'">All</NuxtLink>
                <NuxtLink href="/culture" class="px-4 font-extrabold cursor-pointer hover:text-red-500" :class="$route.path == '/culture' ? 'text-red-500' : 'text-gray-300'">Culture</NuxtLink>
                <NuxtLink href="/sicence" class="px-4 font-extrabold cursor-pointer hover:text-red-500" :class="$route.path == '/sicence' ? 'text-red-500' : 'text-gray-300'">Sicence</NuxtLink>
                <NuxtLink href="/sport" class="px-4 font-extrabold cursor-pointer hover:text-red-500" :class="$route.path == '/sport' ? 'text-red-500' : 'text-gray-300'">Sport</NuxtLink>
                <NuxtLink href="/technology" class="px-4 font-extrabold cursor-pointer hover:text-red-500" :class="$route.path == '/technology' ? 'text-red-500' : 'text-gray-300'">Technology</NuxtLink>
            </div>
        </div>
    </div>
</template>