.overlay{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg,#000,rgba(255,255,255,.4));
    bottom: 0;
    opacity: 0.5;
}

.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}