<template>
    <div>
        <AdminSidebar />
        <main class="md:ml-48">
            <div class="container mx-auto">
                <slot />
            </div>
        </main>
    </div>
</template>
  