<template>
    <div class="fixed z-2 top-0 bg-gray-900 w-full flex justify-between">
        <div class="flex ml-6">
            <span class="text-gray-400 text-sm cursor-pointer hover:text-white">Myanmar Broadcasting Channel</span>
            <div @click="$route.path == '/admin' || $route.path == '/admin/posts' || $route.path == '/admin/posts/add' ||
            $route.path == '/admin/categories' || $route.path == '/admin/tags' || $route.path == '/admin/pages'
            || $route.path == '/admin/comments' || $route.path == '/admin/users' ? $router.push('/') : $router.push('/admin')"
                class="flex ml-4 text-sm cursor-pointer text-gray-400 hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-3 h-3 mt-1 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <span class="ml-2  ">
                    {{ $route.path == '/admin' || $route.path == '/admin/posts' || $route.path == '/admin/posts/add' ||
                            $route.path == '/admin/categories' || $route.path == '/admin/tags' || $route.path == '/admin/pages'
                            || $route.path == '/admin/comments' || $route.path == '/admin/users' ? 'Home' : 'Dashboard'
                    }}
                </span>
            </div>
            <div>
                <div class="peer flex ml-4 text-sm cursor-pointer text-gray-400 hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-3 h-3  mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <span class="ml-2 ">
                        New
                    </span>
                </div>
                <div class="hidden mt-1 peer-hover:flex hover:flex w-[150px] absolute bg-gray-700">
                    <svg style="width:24px;height:24px;" class="absolute text-gray-700" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                    <ul class="w-full">
                        <NuxtLink href="/admin/posts/add"
                            :class="$route.path == '/admin/posts/add' ? 'text-white' : 'text-gray-400'">
                            <li class="m-2 hover:text-white">Post</li>
                        </NuxtLink>
                        <NuxtLink href="/admin/categories">
                            <li class="m-2 hover:text-white"
                                :class="$route.path == '/admin/categories' ? 'text-white' : 'text-gray-400'">Categories
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/admin/tags">
                            <li class="m-2 hover:text-white"
                                :class="$route.path == '/admin/tags' ? 'text-white' : 'text-gray-400'">Tags</li>
                        </NuxtLink>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mr-6">
            <span class="text-gray-400 peer cursor-pointer text-sm">Hello, admin</span>
            <div class="hidden peer-hover:flex hover:flex w-[150px] absolute bg-gray-700">
                <svg style="width:24px;height:24px;" class="absolute text-gray-700" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                </svg>
                <ul class="w-full">
                    <NuxtLink href="/admin/categories">
                        <li class="m-3 hover:text-white"
                            :class="$route.path == '/admin/categories' ? 'text-white' : 'text-gray-400'">Edit profile
                        </li>
                    </NuxtLink>
                    <NuxtLink href="/">
                        <li class="m-3 hover:text-white text-gray-400">Logout</li>
                    </NuxtLink>
                </ul>
            </div>
        </div>
    </div>
</template>