<template>
    <div class="border-r h-screen w-48 fixed top-0 bg-gray-900 hidden md:block z-0">
        <ul class="mt-12">
            <NuxtLink href="/admin" class="w-full hover:text-white"
                :class="$route.path == '/admin' ? 'text-white ' : 'text-gray-400'">
                <li class="m-5 flex">
                    
                    <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19,5V7H15V5H19M9,5V11H5V5H9M19,13V19H15V13H19M9,17V19H5V17H9M21,3H13V9H21V3M11,3H3V13H11V3M21,11H13V21H21V11M11,15H3V21H11V15Z" />
                    </svg>
                    <span class="ml-4">Dashboard</span>
                    <svg style="width:24px;height:24px;right:-10px" class="absolute"
                        :class="$route.path == '/admin' ? 'block' : 'hidden'" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                </li>
            </NuxtLink>
            <div>
                <li class="peer m-5 hover:text-white"
                    :class="$route.path == '/admin/posts' || $route.path == '/admin/posts/add' || $route.path == '/admin/categories' || $route.path == '/admin/tags' ? 'text-white' : 'text-gray-400'">
                    <NuxtLink href="/admin/posts" class="w-full flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                        </svg>
                        <span class="ml-4">Posts</span>
                        <svg style="width:24px;height:24px;right:-10px" class="absolute"
                            :class="$route.path == '/admin/posts' || $route.path == '/admin/posts/add' || $route.path == '/admin/categories' || $route.path == '/admin/tags' ? 'block' : 'hidden'"
                            viewBox="0 0 24 24">
                            <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                        </svg>
                    </NuxtLink>
                </li>
                <div class="hidden peer-hover:flex hover:flex w-[190px] mt-5 absolute -mt-5 bg-gray-700">
                    <svg style="width:24px;height:24px;" class="absolute text-gray-700" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                    <ul class="w-full">
                        <NuxtLink href="/admin/posts"
                            :class="$route.path == '/admin/posts' ? 'text-white' : 'text-gray-400'">
                            <li class="m-5  hover:text-white">All posts</li>
                        </NuxtLink>
                        <NuxtLink href="/admin/posts/add"
                            :class="$route.path == '/admin/posts/add' ? 'text-white' : 'text-gray-400'">
                            <li class="m-5 hover:text-white">Add new</li>
                        </NuxtLink>
                        <NuxtLink href="/admin/categories">
                            <li class="m-5 hover:text-white"
                                :class="$route.path == '/admin/categories' ? 'text-white' : 'text-gray-400'">Categories
                            </li>
                        </NuxtLink>
                        <NuxtLink href="/admin/tags">
                            <li class="m-5 hover:text-white"
                                :class="$route.path == '/admin/tags' ? 'text-white' : 'text-gray-400'">Tags</li>
                        </NuxtLink>
                    </ul>
                </div>
            </div>
            <NuxtLink href="/admin/pages" class="w-full hover:text-white"
                :class="$route.path == '/admin/pages' ? 'text-white' : 'text-gray-400'">
                <li class="m-5 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                    </svg>
                    <span class="ml-4">Pages</span>
                    <svg style="width:24px;height:24px;right:-10px" class="absolute"
                        :class="$route.path == '/admin/pages' ? 'block' : 'hidden'" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                </li>
            </NuxtLink>
            <NuxtLink href="/admin/comments" class="w-full hover:text-white"
                :class="$route.path == '/admin/comments' ? 'text-white' : 'text-gray-400'">
                <li class="m-5 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                    </svg>
                    <span class="ml-4">Comments</span>
                    <svg style="width:24px;height:24px;right:-10px" class="absolute"
                        :class="$route.path == '/admin/comments' ? 'block' : 'hidden'" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                </li>
            </NuxtLink>
            <NuxtLink href="/admin/users" class="w-full hover:text-white"
                :class="$route.path == '/admin/users' ? 'text-white' : 'text-gray-400'">
                <li class="m-5 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                    </svg>
                    <span class="ml-4">Users</span>
                    <svg style="width:24px;height:24px;right:-10px" class="absolute"
                        :class="$route.path == '/admin/users' ? 'block' : 'hidden'" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                </li>
            </NuxtLink>
            <!-- <NuxtLink href="/admin/settings" class="w-full hover:text-white"
                :class="$route.path == '/admin/settings' ? 'text-white' : 'text-gray-400'">
                <li class="m-5 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                    </svg>
                    <span class="ml-4">Settings</span>
                    <svg style="width:24px;height:24px;right:-10px" class="absolute"
                        :class="$route.path == '/admin/settings' ? 'block' : 'hidden'" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M14,7L9,12L14,17V7Z" />
                    </svg>
                </li>
            </NuxtLink> -->
        </ul>
    </div>
</template>