<template>
    <Banner />
    <Topic />
    <div class="container mx-auto">
        <div class="mt-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <article v-for="n in 12" :key="n" :class="[n % 3 == 0 ? '' : 'lg:border-r', n == 10 || n == 11 || n == 12 ? '' : 'border-b']">
                <NuxtLink :href="'/' + n">
                    <section class="m-4">
                        <picture>
                            <source media="(min-width:650px)" :srcset="`https://picsum.photos/700/380?random=${n}`">
                            <source media="(min-width:465px)" :srcset="`https://picsum.photos/700/380?random=${n}`">
                            <img :src="`https://picsum.photos/700/380?random=${n}`" alt="banner" style="width:100%;">
                        </picture>
                        <h2 class="text-xl font-bold text-slate-700 pt-4 hover:text-red-700">FTX founder Sam Bankman-Fried
                            arrested in Bahamas</h2>
                        <p class="pt-4 hover:text-red-700">
                            US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US
                            history"
                            on Tuesday.
                        </p>
                    </section>
                </NuxtLink>
                <aside class="m-4">
                    <a href="#" class="pt-4 text-sm underline underline-offset-4 text-red-700 font-bold">Business</a>
                </aside>
                <br />
            </article>
        </div>
    </div>
    <LongArticle />
    <div class="container mx-auto">
        <div class="mt-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <article v-for="n1 in 12" :key="n1" class="border-b" :class="n1 % 3 == 0 ? '' : 'lg:border-r'">
                <NuxtLink :href="'/' + n1*3">
                <section class="m-4">
                    <picture>
                        <source media="(min-width:650px)" :srcset="`https://picsum.photos/700/380?random=${n1 * 3}`">
                        <source media="(min-width:465px)" :srcset="`https://picsum.photos/700/380?random=${n1 * 3}`">
                        <img :src="`https://picsum.photos/700/380?random=${n1 * 3}`" alt="banner" style="width:100%;">
                    </picture>
                    <h2 class="text-xl font-bold text-slate-700 pt-4 hover:text-red-700">FTX founder Sam Bankman-Fried
                        arrested in Bahamas</h2>
                    <p class="pt-4 hover:text-red-700">
                        US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US history"
                        on Tuesday.
                    </p>
                </section>
                <aside class="m-4">
                    <a href="#" class="pt-4 text-sm underline underline-offset-4 text-red-700 font-bold">Business</a>
                </aside>
                <br />
                </NuxtLink>
            </article>
        </div>
    </div>
    <Pagination/>
    <!-- <div class="flex justify-center">
        <button class="border mt-12 p-3 rounded bg-red-700 text-white w-56">Load more</button>
    </div> -->
</template>