<template>
    <Topic />
    <div class="container mx-auto mt-10">
        <div class="grid grid-cols-6">
            <div class="col-start-2 col-span-4">
                <div>
                    <div class="relative">
                        <input type="search" autocomplete="off" placeholder="Enter your search here..."
                            class="border p-4 w-full rounded" />
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 absolute right-2 -mt-10">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </div>
                    <div v-for="n in 12" :key="n">
                        <NuxtLink :href="'/' + n">
                            <div class="grid grid-cols-1 md:grid-cols-3 mt-4">
                                <article>
                                    <section>
                                        <picture>
                                            <source media="(min-width:650px)"
                                                :srcset="`https://picsum.photos/700/380?random${n}`">
                                            <source media="(min-width:465px)"
                                                :srcset="`https://picsum.photos/700/380?random${n}`">
                                            <img :src="`https://picsum.photos/700/380?random${n}`" alt="banner"
                                                class="mt-4" style="width:100%;">
                                        </picture>
                                    </section>
                                </article>
                                <div class="mt-3 md:m-4 md:col-span-2">
                                    <h2 class="text-xl font-bold hover:text-red-700">FTX founder Sam Bankman-Fried
                                        arrested in Bahamas</h2>
                                    <p class="mt-4 text-sm">
                                        US authorities charged Mr Bankman-Fried with "one of the biggest financial
                                        frauds in
                                        US
                                        history"
                                        on Tuesday.
                                    </p>
                                    <p class="mt-4 text-sm">03 September 2019</p>
                                </div>
                            </div>
                        </NuxtLink>
                        <hr class="mt-4" />
                    </div>
                    <Pagination />
                </div>
            </div>
        </div>
    </div>
</template>