<template>
    <Banner />
    <Topic />
     <div class="container mx-auto">
        <div class="mt-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <article v-for="n in 24" :key="n" class="border-b" :class="n % 3 == 0 ? '' : 'lg:border-r'">
                <NuxtLink :href="'/' + n * 4">
                <section class="m-4">
                    <picture>
                        <source media="(min-width:650px)" :srcset="`https://picsum.photos/700/380?random=${n*4}`">
                        <source media="(min-width:465px)" :srcset="`https://picsum.photos/700/380?random=${n*4}`">
                        <img :src="`https://picsum.photos/700/380?random=${n*4}`" alt="banner" style="width:100%;">
                    </picture>
                    <h2 class="text-xl font-bold text-slate-700 pt-4">FTX founder Sam Bankman-Fried
                        arrested in Bahamas</h2>
                    <p class="pt-4">
                        US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US history"
                        on Tuesday.
                    </p>
                </section>
                <aside class="m-4">
                    <a href="#" class="pt-4 text-sm underline underline-offset-4 text-red-700 font-bold">Business</a>
                </aside>
                <br />
            </NuxtLink>
            </article>
        </div>
    </div>
    <Pagination/>
</template>