<template>
    <Topic />
    <div class="container mx-auto md:mt-20">
        <div class="grid grid-cols-6">
            <div class="col-start-2 col-span-4">
                <NuxtLink href="#" class="text-md underline underline-offset-4 text-red-700 font-bold">Business</NuxtLink>
                <h1 class="text-3xl font-extrabold text-gray-800 mt-4">FTX founder Sam Bankman-Fried arrested in Bahamas
                </h1>
                <article>
                    <section>
                        <p class="mt-4">
                            US authorities charged Mr Bankman-Fried with "one of the biggest financial frauds in US
                            history"
                            on Tuesday.
                        </p>
                        <picture>
                            <source media="(min-width:650px)"
                                :srcset="`https://picsum.photos/700/380?random=${$route.params.slug}`">
                            <source media="(min-width:465px)"
                                :srcset="`https://picsum.photos/700/380?random=${$route.params.slug}`">
                            <img :src="`https://picsum.photos/700/380?random=${$route.params.slug}`" alt="banner"
                                class="mt-4" style="width:100%;">
                        </picture>
                    </section>
                    <aside class="md:m-10">
                        <p>30 November 2022 - <span class="font-bold">Swan Yee</span></p>
                    </aside>
                    <div class="md:m-10">
                        <p>Aliquam eu magna vulputate dui placerat eleifend vel in odio. Aliquam commodo, nunc a tempor
                        placerat, nisl nisi tempus odio, sit amet bibendum ex tellus at tortor. Nam dapibus metus at
                        felis blandit lobortis. Morbi dignissim metus in tempor mollis. Curabitur efficitur tellus quam,
                        quis feugiat elit sagittis sed. Donec finibus mattis arcu nec feugiat. Cras feugiat gravida
                        ante, et porta enim. Integer molestie turpis a mi tincidunt varius. Donec aliquam sed ligula sit
                        amet molestie. Nunc aliquet, nulla vel maximus ullamcorper, tellus orci fringilla odio, quis
                        vulputate nisl nibh at arcu. Pellentesque sed pretium felis, sed efficitur ipsum. Quisque eros
                        velit, aliquet ornare aliquam vitae, eleifend id lacus. Donec viverra ligula ante, ac sodales
                        odio pharetra eget. Fusce vel ipsum nulla. Sed sit amet metus in quam luctus dictum. Fusce
                        pellentesque faucibus risus.</p>
                        <br/>
                        <p>Proin sollicitudin mattis vestibulum. Etiam laoreet nulla nec velit tincidunt, quis congue nisi
                        pretium. Proin dolor erat, convallis id dolor a, ornare fringilla odio. Etiam euismod lectus sit
                        amet libero lobortis, eu consequat ligula ornare. Aenean pulvinar erat non arcu mollis, nec
                        maximus libero feugiat. Proin quis tellus mauris. Maecenas ut tellus dui. Ut at ultrices nisi.
                        Pellentesque rutrum gravida eros a pretium. Sed posuere vestibulum mi quis porta. Integer
                        blandit maximus ligula id porttitor. Nunc tincidunt ex vel mauris faucibus, ac volutpat mauris
                        luctus. Maecenas posuere, elit in laoreet imperdiet, sapien massa cursus est, et pellentesque
                        elit justo sed enim. Duis dolor eros, volutpat vitae nisi quis, vestibulum ullamcorper ante.
                        Nullam eget volutpat ligula.</p>
                        <br/>
                        <p>Curabitur dapibus orci vel dolor gravida egestas. Donec finibus quam eget lacus rutrum, ac
                        auctor sem gravida. Cras eu congue tellus, sit amet efficitur ex. Aenean eu euismod tellus,
                        vitae tincidunt dui. Integer neque dui, malesuada id nulla a, laoreet faucibus justo. Orci
                        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam maximus
                        arcu sit amet sapien pretium, eu mollis massa vehicula. Nam id augue et nulla pellentesque
                        pretium sit amet eu metus. Fusce ut fringilla diam. Vivamus vitae ex laoreet, tempor metus vel,
                        hendrerit lacus. Suspendisse non leo a massa iaculis consequat non a nulla. Nullam sit amet
                        cursus sapien. Suspendisse potenti. Nunc condimentum maximus finibus. Duis efficitur vel arcu
                        ultrices condimentum.</p>
                        <br/>
                        <p>Ut ut lorem viverra, gravida arcu non, pulvinar nisl. In hac habitasse platea dictumst. Orci
                        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
                        facilisis et ligula id aliquam. Proin interdum et ipsum et porta. Donec mattis feugiat augue non
                        sollicitudin. Integer tristique magna et arcu dignissim dignissim. Mauris maximus nibh vitae est
                        fermentum volutpat. Sed auctor est nec malesuada fermentum. Nullam blandit lectus vel purus
                        eleifend, in ullamcorper odio volutpat. Aenean purus lectus, bibendum ut arcu eu, mattis ornare
                        tortor. Sed suscipit tortor vitae porttitor tristique.</p>
                        <br/>
                        <p>Sed tincidunt congue tempus. Quisque et tellus a metus pellentesque ultricies sit amet ut sem.
                        Nunc quam sem, imperdiet ac aliquam a, fermentum id arcu. Maecenas hendrerit interdum dolor ut
                        faucibus. In maximus id purus id fermentum. Suspendisse in dui fringilla, sagittis velit ac,
                        rutrum dui. Nullam sit amet tellus ut diam elementum lobortis in nec lectus. Ut mattis sed neque
                        a ultricies. Proin vel blandit nunc, quis ullamcorper arcu. Quisque in felis a urna commodo
                        pharetra. Integer metus urna, tempus at ultrices eu, convallis a augue. Praesent commodo in nisi
                        quis dictum. Phasellus id nisl et ipsum ultricies mollis. Donec eu tellus turpis. Pellentesque
                        lobortis arcu id congue tincidunt. Vivamus eleifend enim ac laoreet malesuada.</p>
                    </div>
                </article>
                
                <div class="flex justify-center">
                    <button class="border  p-3 rounded bg-red-700 text-white w-56">Share</button>
                </div>
                <hr class="mt-12"/>
                <Feature/>
            </div>
        </div>
    </div>
</template>