<template>
    <div class="m-8">
        <h1 class="text-xl">Tags</h1>
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div>
                <h2 class="mt-4 text-sm font-medium">Add New Tag</h2>
                <div class="mt-4 mr-4">
                    <label class="text-gray-700 text-xs cursor-pointer" for="name">Name</label>
                    <input type="text" class="border w-full p-2 mt-2 rounded" id="name"/>
                    <span class="text-gray-500 text-xs">The name is how it appears on your site.</span>
                </div>
                <div class="mt-4 mr-4">
                    <label class="text-gray-700 text-xs cursor-pointer" for="slug">Slug</label>
                    <input type="text" class="border w-full p-2 mt-2 rounded" id="slug"/>
                    <span class="text-gray-500 text-xs">The “slug” is the URL-friendly version of the name. It is
                        usually all lowercase and contains only letters, numbers, and hyphens.</span>
                </div>
                <div class="mt-4 mr-4">
                    <label class="text-gray-700 text-xs cursor-pointer" for="description">Description</label>
                    <textarea rows="5" class="border w-full p-2 mt-2 rounded" id="description"/>
                    <span class="text-gray-500 text-xs">The description is not prominent by default; however, some
                        themes may show it.</span>
                </div>
            </div>
            <div class="col-span-2">
                <div class="flex mt-4 justify-end">
                    <div class="relative flex hidden md:block">
                        <input type="search" placeholder="Enter your search here..."
                            class="border p-2 rounded w-[250px]" />
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4 absolute right-2 mt-4 text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </div>
                </div>

                <div class="overflow-x-auto relative mt-4">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-100 ">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    Name
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Description
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Slug
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Count
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b">
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                    Apple MacBook Pro 17"
                                </th>
                                <td class="py-4 px-6">
                                    Sliver
                                </td>
                                <td class="py-4 px-6">
                                    Laptop
                                </td>
                                <td class="py-4 px-6">
                                    $2999
                                </td>
                            </tr>
                            <tr class="bg-white border-b ">
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                    Microsoft Surface Pro
                                </th>
                                <td class="py-4 px-6">
                                    White
                                </td>
                                <td class="py-4 px-6">
                                    Laptop PC
                                </td>
                                <td class="py-4 px-6">
                                    $1999
                                </td>
                            </tr>
                            <tr class="bg-white ">
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                    Magic Mouse 2
                                </th>
                                <td class="py-4 px-6">
                                    Black
                                </td>
                                <td class="py-4 px-6">
                                    Accessories
                                </td>
                                <td class="py-4 px-6">
                                    $99
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});
</script>
